{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 3{% endblock %}

{# основной контент: #}
{%block main%}
    <h1>Заказ напитка</h1>

    <form action="/lab3/pay">
        <div>Напиток:</div>
        <label>
            <input type="radio" value="cofee" name="drink" checked>Кофе-120 руб.
            <img src="static/coffe.jpeg" style="height: min-content; width: min-content;">
        </label> 
        <label>
            <input type="radio" value="black-tea" name="drink">Черный чай-80 руб.
            <img>
        </label>
        <label>
            <input type="radio" value="green-tea" name="drink">Зеленый чай-70 руб.
            <img>
        </label>

        <div>Добавки:</div>
            <label>
                <input type="checkbox" name="milk">Молоко-30 руб.
                <img>
            </label>
            <label>
                <input type="checkbox" name="sugar">Сахар-10 руб.
                <img>
            </label>
        <div>
            <button type="submit">Заказать</button>
        </div>
    </form>
{%endblock%}
