{% extends "base.html" %}

{% block lab %}Лабораторная работа 5<a href="/"> Меню </a>{% endblock %}

{%block main%}
    <h1>Создание статьи</h1>
    <form method="post">
        <div>
            <label>
                Название статьи: <input type="text" maxlength="50" name="title">
            </label>
        </div>

        <div>
            <label>
                <textarea name="article_text"></textarea>
            </label>
        </div>
        <button type="submit">Готово</button>
    </form>
{%endblock%}
