<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Загородняя Виктория. {{l1}}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
</head>
<body>
    <header>
        WEB-программирование, часть 2. {{l1}}
    </header>

    <main>
        48<sup>8</sup>={{48**8}}<br>
    </main>

    <footer>
        &copy; {{name}}, {{group}}, {{k}}, 2024
    </footer>
</body>
</html>